PLACEHOLDER_DOMAIN
root * /usr/share/caddy
file_server
encode zstd gzip
rewrite / /index.html

reverse_proxy PLACEHOLDER_SS_WS_PATH {
  to http://127.0.0.1:28827
  header_up Host {http.request.host}
  header_up X-Forwarded-For {http.request.remote}
  header_up X-Forwarded-Port {http.request.port}
  header_up X-Forwarded-Proto {http.request.scheme}
  header_up X-Real-Ip {http.request.scheme}
}

reverse_proxy PLACEHOLDER_VMESS_WS_PATH {
  to http://127.0.0.1:28824
  header_up Host {http.request.host}
  header_up X-Forwarded-For {http.request.remote}
  header_up X-Forwarded-Port {http.request.port}
  header_up X-Forwarded-Proto {http.request.scheme}
  header_up X-Real-Ip {http.request.scheme}
}

reverse_proxy PLACEHOLDER_VMESS_H2_PATH {
  to http://127.0.0.1:28825
  transport http {
        versions h2c
  }
  header_up Host {http.request.host}
  header_up X-Real-Ip {http.request.scheme}
}
